http://caddy.demo {
  supervisor {
      command php-cgi
      args -b 9800
      redirect_stdout stdout
      redirect_stderr stderr
      restart_policy always
    }
  root ./
  fastcgi / localhost:9800 php
  rewrite /rewrite {
      to /rewrite.php
    }
}