http://dev.123dok.com {
  on startup /usr/local/opt/mysql@5.7/bin/mysql.server start
  on shutdown /usr/local/opt/mysql@5.7/bin/mysql.server stop
  supervisor {
      command php-cgi
      args -b 9800
      restart_policy never
    }
  supervisor {
      command php
      args artisan queue:listen
      restart_policy never
  }
  root /Users/hocvt/Documents/webroot/gldoc-main/public
  fastcgi / localhost:9800 php
  rewrite {
    to {path} {path}/ /index.php?{query}
    }
}